body{
    background-image: url("https://media.istockphoto.com/videos/soft-white-background-video-id1132439239?b=1&k=20&m=1132439239&s=640x640&h=9qTQn4FfcFcaDQtSafEPfQlaNMet0fevWWqUzyAENMI=");
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}
span{
    font-weight: bold;
}

h1{
    color: midnightblue;
}
img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(219, 219, 219);
    padding: 50px;
    border: 2px solid midnightblue;
}

#spanId{
    font-weight: 400;
    font-size: 18px;
    margin: 50px;
}
